* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  text-align: center;
}

.website-links {
  text-decoration: none;
  color: black;
}
.website-links:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4 {
  color: #333;
}
/*header*/
header {
  padding-right: 1%;
  font-family: sans-serif;
  display: flex;
  background-color: #453e4f;
  color: #ffe8d6;
  justify-content: space-between;
  align-items: center;
}

header p {
  font-family: "Roboto Slab", serif;
  font-size: 4rem;
  margin: 0 0 0 3%;
  align-items: center;
}

header nav ul li a {
  background-color: #453e4f;
  color: #ffe8d6;
  text-decoration: none;
}

nav ul {
  padding: 0;
  text-transform: uppercase;
  list-style: none;
  gap: 7%;
  font-size: 1rem;
  margin-bottom: 0;
}
nav {
  border: pink 1px solid;
  padding: 2% 2% 1%;
  border-radius: 2px;
  margin-right: 10px;
}

.navigation {
  list-style: none;
  padding: 0;
  margin-top: 0;
}
.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
  text-align: left;
  text-decoration: none;
  font-size: 22px;
  padding: 5px;
}

.navigation li:hover {
  text-decoration: underline;
}

.responsive li {
  display: block;
}

.ham {
  font-size: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.icon-size {
  text-align: center;
  align-items: center;
  width: 35px;
  height: 35px;
}
/*main*/
main {
  color: #333;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 10%;
}

main {
  background-image: url(images/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-div {
  padding: 10%;
}

main h1 {
  margin-top: 0;
}

/*projects*/
.project-container {
  padding-bottom: 100px;
}

.project-container h2 {
  margin: 50px;
}

.project-items {
  width: 80%;
  margin: 0 auto;
  gap: 2%;
}

.weather {
  width: 75%;
  margin: 0 auto 70px;
  border: 0.1px solid #e4e0e0;
  border-radius: 5px;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.07);
}

.weather:hover {
  box-shadow: 0 0 50px #333;
}

.description,
.description-skills {
  font-size: 0.9rem;
  padding: 0 5%;
  text-align: left;
}

.description-skills {
  padding-bottom: 5%;
}

.weather img {
  width: 100%;
  border-radius: 5px;
}

.project-btn {
  background-color: #453e4f;
  color: #ffe8d6;
  padding: 2.8% 4%;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

/*skills*/
.skills-container {
  text-align: center;
  background-color: #ffe8d6;
  padding-bottom: 100px;
}

.skills-container h2 {
  padding-top: 50px;
}

.skills {
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 5px;
  margin-bottom: 10%;
}

.skills p {
  width: 70%;
  margin: 0 auto;
  background-color: #453e4f;
  color: #ffe8d6;
  padding: 3%;
}

/*about*/

.about-section {
  padding: 10%;
}

.about-container {
  width: 100%;
  margin: 0 auto;
}

.about-image {
  background-color: #453e4f;
  width: 80%;
}

.about-image img {
  width: 80%;
  margin: 0 auto;
}

.about-info {
  width: 100%;
  text-align: left;
}

/*footer*/

footer {
  background-color: #453e4f;
  color: #ffe8d6;
  padding: 15px;
}

footer ul li {
  list-style: none;
}

footer h2 {
  color: #ffe8d6;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.personal-info {
  font-size: 1rem;
  padding-left: 0;
  width: 100%;
  margin: 0 auto;
}

.media-links {
  display: flex;
  padding-top: 10px;
  padding-left: 0;
  width: 70%;
  margin: 30px auto;
  justify-content: space-between;
}
.linkedin {
  width: 80%;
}

.instagram {
  width: 80%;
}

.facebook {
  width: 75%;
}

.github {
  width: 85%;
}

.copyright p {
  font-size: 1rem;
  margin-top: 5%;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  nav {
    width: 70%;
    border: none;
  }
  nav ul {
    display: flex;
  }

  .navigation li {
    display: flex; /* change state in small view */
    flex: 1 1 auto;
  }

  .navigation li:first-child {
    display: none;
  }
  .ham {
    display: none;
  }

  .project-items {
    width: 90%;
  }

  .weather {
    width: 68%;
  }
  .skills {
    width: 50%;
  }
  .skills p {
    width: 50%;
  }
  .about-container {
    width: 70%;
  }

  .about-image {
    width: 100%;
  }
  .media-links {
    width: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 1.5rem;
  }
  header {
    display: flex;
    justify-content: space-between;
  }

  nav {
    width: 50%;
  }

  .developer-skills {
    margin-top: 60px;
  }
  .project-items {
    display: flex;
    flex-wrap: wrap;
  }
  .weather {
    width: 35%;
  }
  .project-btn {
    display: none;
  }

  .description-skills {
    padding-bottom: 10%;
  }

  .skills {
    width: 65%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    align-items: center;
  }

  .skills p {
    font-size: 1.2rem;
    align-items: center;
    padding: 2%;
  }

  .skills .adobe {
    width: 20%;
  }
  .skills .vs-code {
    width: 23%;
  }
  .about-title {
    margin-top: 0;
  }
  .about-container {
    display: flex;
    gap: 3%;
    width: 75%;
    font-size: 1rem;
  }

  .about-info {
    width: 50%;
  }
  .about-image {
    width: 50%;
  }
  .about-image img {
    width: 90%;
  }

  .contact {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: center;
  }
  .media-links {
    display: flex;
    margin: 0 auto;
    width: 20%;
    justify-content: space-between;
  }

  .personal-info {
    width: 20%;
  }
}
