* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

header img {
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  padding: 0;
  color: white;
}
